package main

templ index(name string, title string) {
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{ title }</title>
    </head>
    <body>
        <h1>Hi { name }!</h1>
        This is a very basic example of a working live reload configuration. Saving for posterity.
    </body>
</html>
}